<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<!--监测数据库配置-->
		<section name="checkDatabases" type="System.Configuration.DictionarySectionHandler" />
		<!--监测进程配置-->
		<section name="checkProcesses" type="System.Configuration.DictionarySectionHandler" />
		<!--监测FTP配置-->
		<section name="checkFtp" type="System.Configuration.DictionarySectionHandler" />
		<!--Oracle(无需改动)-->
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<!--报警数据交互数据库(与人员定位数据库保持一致即可)-->
	<connectionStrings>
		<!--报警信息存储数据库-->
		<add name="RYDWDb" connectionString="Data Source=192.168.25.111/MKDB3D;Persist Security Info=True;User ID=mkgk;Password=mkgk;" />
		<!--孙村考勤记录数据库-->
		<add name="SCMySQLDb" connectionString="Data Source=192.168.25.111/MKDB3D;Persist Security Info=True;User ID=mkgk;Password=mkgk;" />
	</connectionStrings>
	<!--监测数据库-->
	<checkDatabases>
		<add key="人员定位" value="oracle|Data Source=192.168.132.116/MKDB3D;Persist Security Info=True;User ID=mkgk;Password=mkgk;Connection Timeout=3" />
	</checkDatabases>
	<!--监测进程-->
	<checkProcesses>
		<add key="联网上报" value="WechatBrowser" />
		<add key="报警辅助" value="HealthMonitor" />
		<add key="向日葵" value="SunloginClient" />
		<add key="Redis服务端" value="redis-server" />
	</checkProcesses>
	<!--监测FTP-->
	<checkFtp>
		<add key="联网上报1" value="127.0.0.1|4369|admin|password" />
	</checkFtp>
	
	<appSettings>
		<add key="AlarmSettingAddress" value="http://localhost:9000/Home/Alarm" />
		<!--分钟-->
		<add key="UniqueComparsionInterval" value="120" />
	</appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>