<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="109.1.11" targetFramework="net48" />
  <package id="cef.redist.x86" version="109.1.11" targetFramework="net48" />
  <package id="CefSharp.Common" version="109.1.110" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="109.1.110" targetFramework="net48" />
  <package id="Dapper" version="2.0.90" targetFramework="net48" />
  <package id="Dapper.Contrib" version="2.0.78" targetFramework="net48" />
  <package id="DapperExtensions" version="1.7.0" targetFramework="net48" />
  <package id="DryIoc.dll" version="4.7.7" targetFramework="net48" />
  <package id="DynamicExpresso.Core" version="2.3.3" targetFramework="net48" />
  <package id="FluentFTP" version="44.0.1" targetFramework="net48" />
  <package id="Magicodes.IE.Core" version="2.7.0" targetFramework="net48" />
  <package id="Magicodes.IE.EPPlus" version="2.7.0" targetFramework="net48" />
  <package id="Magicodes.IE.Excel" version="2.7.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.1.1" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.7.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="19.11.0" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.DryIoc" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="1.0.4" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="2.88.3" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net48" />
  <package id="Slapper.AutoMapper" version="2.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net48" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Dynamic.Core" version="1.2.6" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net48" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net48" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" targetFramework="net48" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net48" />
</packages>